
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neighbourhood</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="{% url 'home' %}">Neighbourhood</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
          <button> <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </button>
          
          <button>
          <a class="nav-link" href="/accounts/login/">login</a>
          </button>
          
          <button>
          <a class="nav-link" href="/add_neighbourhood">Add neighbourhood</a>
          </button>
          
          <button>
          <a class="nav-link" href="/my_profile">Profile</a>
          </button>
         
          <button>
            <a class="nav-link" href="/accounts/logout/">logout</a>
          </button>

          <form class="navbar-form" role="search"  action="">
  
            <div class="input-group">
              <input type="text" class="form-control" placeholder="neighbourhood id " name="search_term">
              
                <button class="btn btn-default" type="submit">  <i class="glyphicon glyphicon-search">search</i></button>
              
              </div>
      
          </form>
      </ul>
      
    </div>
  </div>
</nav>


<body style="background-image:url('/static/image/indext_bg4.jpg'); background-size:cover;background-color: bklack;background-repeat: no-repeat;">
  <div class="container">
    
      <div class="row">
        {% for neighbourhood in neighbourhoods %}
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card mb-4" style="min-height:340px">
              <a href="{% url 'single_neighbourhood' neighbourhood.id %}"> <img src="{{neighbourhood.hood_logo.url}}" style="width: 50%;"  class="card-img-top" alt="{{ neighbourhood.name }}"></a>
                <div class="card-body">
                    <h5 class="card-title"><p>Name: {{neighbourhood.name}}({{neighbourhood.location}})</p>  <span class="ml-4">{{neighbourhood.members.count}} member{{hood.members.count|pluralize}}</span></h5>
                    <p class="card-text">Description: {{neighbourhood.description}}</p>
                    <!-- {% if request.user.profile.neighbourhood == neighbourhood.name %}
                    <a href="" class="btn btn-outline-danger btn-sm">Leave Hood</a>
                    {% elif not request.user.profile.neighbourhood %}
                    <a href="" class="btn btn-success btn-sm">Join Hood</a>
                    {% endif %} -->
                </div>
            </div>
        </div>
        {% endfor %}
      </div>

      
        <!-- {% for neighbourhood in neighbourhoods %}
        {{neighbourhood.name}}

        <img src="{{neighbourhood.hood_logo.url}}" height="auto" width="10%" alt="mascot">
     
     </form>
       
     <p>Name: {{neighbourhood.name}}({{neighbourhood.location}})</p>  
   <p>{{neighbourhood.owner}} </p> 


        {%endfor%} -->
      </div>
    </div>
  </div>
  
</body>
</html>
   
      
    


